/* You can add global styles to this file, and also import other style files */
button i{
  vertical-align: middle;
}
.btn-circle{
  border-radius: 50% !important;
  width: 45px;
  height: 45px;
}

/*========================== Card ==============================*/
.card {
  border: none !important;
}
