<style>
  .num-sem{
    width: 100px;
  }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <h1>calendar</h1>
    </div>
    <!-- Calendario -->
    <div class="col">
      <table class="table table-borderless">
        <thead>
        <tr>
          <th class="num-sem"></th>
          <th>Lun</th>
          <th>Mart</th>
          <th>Mié</th>
          <th>Jue</th>
          <th>Vie</th>
          <th>Sáb</th>
          <th>Dom</th>
        </tr>
        </thead>
        <!--<tbody>
          <tr></tr>
        </tbody>-->
      </table>
    </div>
  </div>
</div>
