.num-sem{
  width: 23px;
  padding: 5px;
}
.not-current-month{
  background: #f3f3f3;
}
tr td:not(.num-sem){
  height: 150px;
  width: 200px;
}
tr td.num-sem{
  background: #e8e8e8;
}
.actual-day{
  background: #0095dc;
  color: white;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  margin: 0 auto;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
}
