<div class="container-fluid">
  <div class="col-12 mt-3">
    <div class="row">
      <div class="col-2">
         <h4 style="line-height: 38px;">calendar</h4>
      </div>
      <div class="col">
        <div class="row">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-light btn-circle">
              <i class="material-icons">keyboard_arrow_left</i>
            </button>
            <button type="button" class="btn btn-light btn-circle ml-3">
              <i class="material-icons">keyboard_arrow_right</i>
            </button>
          </div>
          <h4 class="ml-3" style="line-height: 38px;">{{objActualDate.month}} {{objActualDate.year}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
     <!-- <h1>calendar</h1>-->
    </div>
    <!-- Calendario -->
    <div class="col">
      <table class="table table-borderless">
        <thead>
        <tr>
          <th class="num-sem"></th>
          <th *ngFor="let textDay of daysWeek" class="text-center">{{textDay}}</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of calendar">
            <td class="num-sem text-center">{{data.week}}</td>
            <td *ngFor="let day  of data.days" [ngClass]="{'not-current-month': !day.isActualMonth}" class="text-center">
              <div [ngClass]="{'actual-day': day.actualDay}">{{day.day}}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
